# IMPORTING AND CLEANING THE DATA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import time

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
pd.set_option('display.max_columns', 100)

Creating a list with the .csv files gathering data of storm events in the US from 2000 to 2018

In [2]:
csv_files = [f for f in os.listdir('data') if f.endswith('.csv')]
csv_files

['StormEvents_details-ftp_v1.0_d2013_c20170519.csv',
 'StormEvents_details-ftp_v1.0_d2008_c20180718.csv',
 'StormEvents_details-ftp_v1.0_d2001_c20170717.csv',
 'StormEvents_details-ftp_v1.0_d2005_c20170717.csv',
 'StormEvents_details-ftp_v1.0_d2002_c20170717.csv',
 'StormEvents_details-ftp_v1.0_d2006_c20170717.csv',
 'StormEvents_details-ftp_v1.0_d2010_c20170726.csv',
 'StormEvents_details-ftp_v1.0_d2017_c20180918.csv',
 'StormEvents_details-ftp_v1.0_d2016_c20180718.csv',
 'StormEvents_details-ftp_v1.0_d2015_c20180525.csv',
 'StormEvents_details-ftp_v1.0_d2011_c20180718.csv',
 'StormEvents_details-ftp_v1.0_d2014_c20180718.csv',
 'StormEvents_details-ftp_v1.0_d2007_c20170717.csv',
 'StormEvents_details-ftp_v1.0_d2003_c20170717.csv',
 'StormEvents_details-ftp_v1.0_d2018_c20180918.csv',
 'StormEvents_details-ftp_v1.0_d2009_c20180718.csv',
 'StormEvents_details-ftp_v1.0_d2012_c20170519.csv',
 'StormEvents_details-ftp_v1.0_d2004_c20170717.csv',
 'StormEvents_details-ftp_v1.0_d2000_c20170717.csv']

After exploring the .csv files, I created a list of the columns I want to use.

In [3]:
columns = ['STATE','CZ_TYPE','EVENT_TYPE','BEGIN_DATE_TIME', 'CZ_TIMEZONE', 'END_DATE_TIME',
           'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
           'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS','BEGIN_RANGE',
           'BEGIN_AZIMUTH', 'END_RANGE', 'END_AZIMUTH','MAGNITUDE_TYPE','MAGNITUDE',
           'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON']

Cleaning every single .csv file and appending all of them to a list so I can creat a dataframe.

In [4]:
# defining the dictionary needed to transform the damage values from strings to numbers
damage_dict = {'K': 10**3, 'M': 10**6, 'B': 10**9, '0': 0 }

# initializing the dataframe
frames = []
df = pd.DataFrame()

for filename in csv_files:
    temp_df = pd.read_csv('data/' + filename)
    temp_df = temp_df[columns]
    
    # assigning Hail to the missing magnitude types
    temp_df.loc[((temp_df['MAGNITUDE_TYPE'].isnull()) & (temp_df['MAGNITUDE'].isnull() == False)),'MAGNITUDE_TYPE'] = 'HA'
    
    # dropping rows that contain null values in one of the columns in the subset list
    temp_df = temp_df.dropna(subset = ['MAGNITUDE','BEGIN_LAT','DAMAGE_PROPERTY'])
    
    # filling in empy values of DAMAGE_CROPS with 0
    temp_df.loc[temp_df['DAMAGE_CROPS'].isnull(),'DAMAGE_CROPS'] = '0.00K'
    
    # feeature engineering the temporal variables
    temp_df['YEAR'] = pd.to_datetime(temp_df['BEGIN_DATE_TIME']).dt.year
    temp_df['BEGIN_MONTH'] = pd.to_datetime(temp_df['BEGIN_DATE_TIME']).dt.month
    temp_df['BEGIN_DAY'] = pd.to_datetime(temp_df['BEGIN_DATE_TIME']).dt.day
    temp_df['BEGIN_TIME'] = pd.to_datetime(temp_df['BEGIN_DATE_TIME']).dt.time
    temp_df['END_MONTH'] = pd.to_datetime(temp_df['END_DATE_TIME']).dt.month
    temp_df['END_DAY'] = pd.to_datetime(temp_df['END_DATE_TIME']).dt.day
    temp_df['END_TIME'] = pd.to_datetime(temp_df['END_DATE_TIME']).dt.time
    temp_df['DURATION_DAYS'] = (pd.to_datetime(temp_df['END_DATE_TIME']) - pd.to_datetime(temp_df['BEGIN_DATE_TIME'])).dt.days
    temp_df['DURATION_HOURS'] = (pd.to_datetime(temp_df['END_DATE_TIME']) - pd.to_datetime(temp_df['BEGIN_DATE_TIME'])).dt.seconds//3600
    temp_df['DURATION_MINUTES'] = ((pd.to_datetime(temp_df['END_DATE_TIME']) - pd.to_datetime(temp_df['BEGIN_DATE_TIME'])).dt.seconds//60)%60
    
    # transforming the damage variables from strings to float
    temp_df.loc[temp_df['DAMAGE_PROPERTY']=='0','DAMAGE_PROPERTY'] = '0.0'
    temp_df.loc[temp_df['DAMAGE_PROPERTY']=='K','DAMAGE_PROPERTY'] = '1K'
    temp_df['DAMAGE_PROPERTY'] = temp_df['DAMAGE_PROPERTY'].map(lambda x: float(x[:-1])*damage_dict[x[-1]])
    temp_df.loc[temp_df['DAMAGE_CROPS']=='0','DAMAGE_CROPS'] = '0.0'
    temp_df.loc[temp_df['DAMAGE_CROPS']=='K','DAMAGE_CROPS'] = '1K'
    temp_df['DAMAGE_CROPS'] = temp_df['DAMAGE_CROPS'].map(lambda x: float(x[:-1])*damage_dict[x[-1]])
    
    # adding the yearly df to the frames list
    frames.append(temp_df)

# generating unique dataframe from list of dataframes
df = pd.concat(frames)

# transfoming the begin_date_time to a time object to sort the df
df['BEGIN_DATE_TIME'] = pd.to_datetime(df['BEGIN_DATE_TIME'])
df.sort_values('BEGIN_DATE_TIME', inplace = True)

# resetting the index
df.reset_index(inplace = True, drop = True)

# check
df.head()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (29,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STATE,CZ_TYPE,EVENT_TYPE,BEGIN_DATE_TIME,CZ_TIMEZONE,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,BEGIN_RANGE,BEGIN_AZIMUTH,END_RANGE,END_AZIMUTH,MAGNITUDE_TYPE,MAGNITUDE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,YEAR,BEGIN_MONTH,BEGIN_DAY,BEGIN_TIME,END_MONTH,END_DAY,END_TIME,DURATION_DAYS,DURATION_HOURS,DURATION_MINUTES
0,MISSOURI,C,Thunderstorm Wind,2000-01-03 07:30:00,CST,03-JAN-00 07:30:00,0,0,0,0,3000.0,0.0,NaN,NaN,NaN,NaN,E,52.0,36.93,-90.75,36.83,-90.83,2000,1,3,07:30:00,1,3,07:30:00,0,0,0
1,MISSOURI,C,Thunderstorm Wind,2000-01-03 08:20:00,CST,03-JAN-00 08:20:00,0,0,0,0,3000.0,0.0,NaN,NaN,NaN,NaN,E,50.0,36.97,-90.55,37.13,-90.47,2000,1,3,08:20:00,1,3,08:20:00,0,0,0
2,MISSOURI,C,Thunderstorm Wind,2000-01-03 08:50:00,CST,03-JAN-00 09:00:00,3,0,0,0,250000.0,0.0,NaN,NaN,NaN,NaN,E,83.0,37.25,-89.67,37.30,-89.53,2000,1,3,08:50:00,1,3,09:00:00,0,0,10
3,ILLINOIS,C,Thunderstorm Wind,2000-01-03 09:18:00,CST,03-JAN-00 09:22:00,0,0,0,0,150000.0,0.0,2.0,NE,4.0,NE,E,100.0,37.73,-89.18,37.75,-89.17,2000,1,3,09:18:00,1,3,09:22:00,0,0,4
4,ILLINOIS,C,Thunderstorm Wind,2000-01-03 09:22:00,CST,03-JAN-00 09:24:00,0,0,0,0,100000.0,0.0,NaN,NaN,NaN,NaN,E,75.0,37.78,-89.12,37.78,-89.12,2000,1,3,09:22:00,1,3,09:24:00,0,0,2

In [5]:
df.shape

(320852, 32)

In [6]:
df.to_csv('2000-2018_disasters.csv')

In [9]:
df.head()

,STATE,CZ_TYPE,EVENT_TYPE,BEGIN_DATE_TIME,CZ_TIMEZONE,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,BEGIN_RANGE,BEGIN_AZIMUTH,END_RANGE,END_AZIMUTH,MAGNITUDE_TYPE,MAGNITUDE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,YEAR,BEGIN_MONTH,BEGIN_DAY,BEGIN_TIME,END_MONTH,END_DAY,END_TIME,DURATION_DAYS,DURATION_HOURS,DURATION_MINUTES
0,MISSOURI,C,Thunderstorm Wind,2000-01-03 07:30:00,CST,03-JAN-00 07:30:00,0,0,0,0,3000.0,0.0,NaN,NaN,NaN,NaN,E,52.0,36.93,-90.75,36.83,-90.83,2000,1,3,07:30:00,1,3,07:30:00,0,0,0
1,MISSOURI,C,Thunderstorm Wind,2000-01-03 08:20:00,CST,03-JAN-00 08:20:00,0,0,0,0,3000.0,0.0,NaN,NaN,NaN,NaN,E,50.0,36.97,-90.55,37.13,-90.47,2000,1,3,08:20:00,1,3,08:20:00,0,0,0
2,MISSOURI,C,Thunderstorm Wind,2000-01-03 08:50:00,CST,03-JAN-00 09:00:00,3,0,0,0,250000.0,0.0,NaN,NaN,NaN,NaN,E,83.0,37.25,-89.67,37.30,-89.53,2000,1,3,08:50:00,1,3,09:00:00,0,0,10
3,ILLINOIS,C,Thunderstorm Wind,2000-01-03 09:18:00,CST,03-JAN-00 09:22:00,0,0,0,0,150000.0,0.0,2.0,NE,4.0,NE,E,100.0,37.73,-89.18,37.75,-89.17,2000,1,3,09:18:00,1,3,09:22:00,0,0,4
4,ILLINOIS,C,Thunderstorm Wind,2000-01-03 09:22:00,CST,03-JAN-00 09:24:00,0,0,0,0,100000.0,0.0,NaN,NaN,NaN,NaN,E,75.0,37.78,-89.12,37.78,-89.12,2000,1,3,09:22:00,1,3,09:24:00,0,0,2

In [20]:
df[df['DAMAGE_PROPERTY']>100000].shape

(5908, 32)

In [37]:
sub = df[df['DAMAGE_PROPERTY']>100000]

In [38]:
sub.columns

Index(['STATE', 'CZ_TYPE', 'EVENT_TYPE', 'BEGIN_DATE_TIME', 'CZ_TIMEZONE',
       'END_DATE_TIME', 'INJURIES_DIRECT', 'INJURIES_INDIRECT',
       'DEATHS_DIRECT', 'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS',
       'BEGIN_RANGE', 'BEGIN_AZIMUTH', 'END_RANGE', 'END_AZIMUTH',
       'MAGNITUDE_TYPE', 'MAGNITUDE', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT',
       'END_LON', 'YEAR', 'BEGIN_MONTH', 'BEGIN_DAY', 'BEGIN_TIME',
       'END_MONTH', 'END_DAY', 'END_TIME', 'DURATION_DAYS', 'DURATION_HOURS',
       'DURATION_MINUTES'],
      dtype='object')

In [42]:
sub.groupby(['STATE']).sum().sort_values('DAMAGE_PROPERTY')

,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,BEGIN_RANGE,END_RANGE,MAGNITUDE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,YEAR,BEGIN_MONTH,BEGIN_DAY,END_MONTH,END_DAY,DURATION_DAYS,DURATION_HOURS,DURATION_MINUTES
STATE,,,,,,,,,,,,,,,,,,,,,
NEW HAMPSHIRE,0,0,0,0,3.250000e+05,0.0,0.0,0.0,142.00,85.8800,-144.3800,85.6700,-144.0900,4016,18,7,18,7,0,0,20
ATLANTIC SOUTH,1,0,0,0,5.000000e+05,0.0,0.0,0.0,56.00,32.7500,-79.8700,32.7800,-79.9000,2006,2,3,2,4,0,0,40
RHODE ISLAND,0,0,0,0,7.500000e+05,0.0,1.0,0.0,112.00,83.8600,-142.9600,83.7400,-142.8600,4015,14,30,14,30,0,0,20
DISTRICT OF COLUMBIA,4,0,0,0,7.750000e+05,0.0,0.0,0.0,116.00,77.7000,-153.9600,77.7000,-153.9600,4009,13,16,13,16,0,0,2
DELAWARE,0,0,0,0,1.250000e+06,0.0,2.0,2.0,235.00,157.8114,-302.4499,157.9774,-301.9412,8037,28,24,28,24,0,0,34
LAKE MICHIGAN,1,0,0,0,1.300000e+06,0.0,5.0,5.0,102.00,84.9223,-175.4915,84.9223,-175.4915,4022,20,38,20,39,0,14,0
PUERTO RICO,7,0,0,0,2.350000e+06,0.0,19.0,16.0,190.25,90.9958,-331.8339,91.0000,-331.7658,10066,27,67,27,67,0,2,108
MAINE,0,0,0,0,2.400000e+06,0.0,1.0,1.0,71.50,90.0313,-138.6646,90.0108,-138.6732,4030,15,26,15,26,0,0,4
VERMONT,1,0,0,0,3.150000e+06,145000.0,7.0,7.0,758.00,530.6409,-876.2770,530.6046,-876.0935,24124,85,192,85,192,0,0,40
CONNECTICUT,25,0,0,0,3.949000e+06,0.0,4.0,4.0,317.00,207.6702,-365.5523,207.6702,-365.5523,10064,28,106,28,106,0,0,5
MASSACHUSETTS,0,0,0,0,7.326000e+06,1250000.0,5.0,4.0,825.25,593.1555,-1010.1727,593.2651,-1009.0262,28109,102,192,102,192,0,0,126
UTAH,4,0,0,0,1.142500e+07,100000.0,22.0,22.0,746.00,438.1842,-1227.5940,438.1107,-1227.4467,22069,79,108,79,108,0,6,163
GULF OF MEXICO,1,0,1,0,1.240000e+07,0.0,0.0,0.0,58.00,30.6800,-88.0300,30.6800,-88.0300,2013,4,3,4,3,0,0,10
MARYLAND,3,1,0,0,1.382500e+07,0.0,15.0,10.0,1109.75,741.6956,-1455.0942,741.8993,-1454.2067,38161,116,210,116,210,0,2,104
WASHINGTON,6,0,0,0,1.755500e+07,71000000.0,64.0,52.0,967.00,807.5134,-2020.1370,811.2267,-2016.5959,34182,113,257,113,258,0,10,226
NEW YORK,10,0,2,0,2.042300e+07,350000.0,20.0,27.0,2531.13,1828.2403,-3238.6895,1828.2852,-3934.6433,86284,268,689,268,690,0,11,124
OREGON,1,0,0,0,2.851000e+07,100000.0,26.0,26.0,341.50,312.9348,-841.4047,312.6691,-841.2137,14055,46,121,46,121,0,3,45
FLORIDA,2,0,0,0,3.821250e+07,0.0,46.0,57.0,2354.50,1223.3388,-3505.1316,1223.8314,-3505.0793,84370,170,709,170,710,0,0,204
IDAHO,9,0,0,0,4.034700e+07,175000.0,42.0,39.0,790.35,820.7116,-2067.0114,821.5189,-2065.5078,36170,106,314,106,314,0,4,330
PENNSYLVANIA,68,0,3,1,4.663000e+07,0.0,40.0,59.0,3846.25,2940.5478,-6265.2593,2939.5522,-5583.4392,144630,455,1273,455,1273,0,0,583
VIRGINIA,43,5,5,1,5.098300e+07,341700.0,147.0,160.0,4838.50,3226.5717,-7496.1932,3221.0477,-6787.3053,172877,527,1751,527,1751,0,0,850
CALIFORNIA,2,0,0,0,5.111000e+07,0.0,59.0,81.0,2229.00,1526.3206,-5075.8909,1526.3537,-5075.4459,86489,281,713,281,713,0,10,489
ALABAMA,45,3,4,0,6.169300e+07,2100000.0,231.0,191.0,7454.50,4272.3171,-11205.4161,4270.7969,-11195.4655,258809,679,2057,679,2058,0,14,1511
SOUTH CAROLINA,12,2,1,0,7.179000e+07,3045000.0,120.0,105.0,2904.75,2022.0331,-4796.2028,2021.4946,-4794.1936,118547,354,907,354,907,0,0,498
NORTH CAROLINA,33,0,0,0,7.326100e+07,491500.0,117.0,126.0,4624.50,3059.3809,-8252.1167,3057.6102,-9678.6046,172819,473,1106,473,1107,0,1,896
WEST VIRGINIA,9,0,2,3,7.500000e+07,0.0,21.0,28.0,4275.75,3089.8489,-7225.1323,3082.4432,-6487.4968,160861,474,1768,474,1768,0,0,877
NEW JERSEY,12,2,2,0,7.616000e+07,5100000.0,18.0,23.0,2677.75,1718.2463,-3217.9326,1717.6156,-3215.4575,86406,293,879,293,883,0,3,299
MONTANA,4,0,1,0,9.412300e+07,28070000.0,188.0,170.0,2096.25,1759.0792,-3956.6819,1758.8712,-3954.2416,74272,247,536,247,536,0,1,516
NEW MEXICO,11,0,0,0,1.041550e+08,1145000.0,237.0,231.0,1445.25,1924.1548,-5976.8535,1923.9342,-5975.7257,114559,394,799,394,799,0,0,663
NEVADA,1,0,0,0,1.099000e+08,0.0,17.0,19.0,347.75,334.3018,-1037.2852,334.7020,-1037.3881,18124,59,170,59,170,0,1,225
WYOMING,1,0,0,0,1.099080e+08,0.0,19.0,18.0,305.25,1055.5977,-2531.3662,1055.6660,-2531.0756,48229,155,403,155,403,0,0,145
KENTUCKY,26,0,0,0,1.199120e+08,5205000.0,203.0,198.0,8437.50,5108.7450,-11673.4226,5107.6048,-11667.5095,273321,614,1877,614,1877,0,0,735
TENNESSEE,12,0,1,0,1.254234e+08,300000.0,114.0,114.0,5161.00,2908.1237,-7082.6196,2909.3102,-7078.0468,162742,408,1364,408,1365,1,0,682
INDIANA,61,0,7,0,1.853530e+08,2255000.0,89.0,108.0,5703.75,3864.4510,-8397.9898,3863.6126,-8392.8031,194729,530,1606,530,1606,0,0,642
SOUTH DAKOTA,32,1,1,0,1.928760e+08,17350000.0,238.0,277.0,4589.00,7379.5616,-16879.6577,7378.6872,-16875.8663,337418,1128,2705,1128,2705,0,0,1302
ARKANSAS,29,4,2,2,2.921750e+08,8000000.0,252.0,236.0,11352.00,6884.1468,-18317.5558,6884.7669,-18308.7788,397965,1173,2521,1173,2521,0,0,925
IOWA,38,0,2,0,3.100750e+08,133327000.0,378.0,380.0,12924.75,11947.8084,-26369.1247,11946.9945,-26365.6751,570410,1854,4294,1854,4295,0,1,908
MICHIGAN,20,0,2,0,4.816130e+08,2810000.0,218.0,370.0,6169.00,6412.9706,-12506.1750,6414.7661,-12493.1823,295458,941,2454,941,2456,1,0,1255
KANSAS,71,2,2,0,5.004416e+08,102817100.0,608.0,598.0,11959.50,9920.2791,-25230.3951,9919.3980,-25222.9573,518176,1639,4023,1639,4023,0,4,1508
GEORGIA,31,0,3,1,5.010320e+08,310000.0,857.0,999.0,13190.00,16131.5634,-40445.0888,16119.5435,-40400.9903,964494,2180,7227,2180,7231,0,2,6859
NORTH DAKOTA,34,0,1,0,5.810240e+08,227525000.0,592.0,643.0,11086.51,9790.7222,-20811.3546,9791.9457,-20804.3345,418305,1417,3271,1417,3274,0,2,1691
MINNESOTA,25,3,1,0,6.231950e+08,27844000.0,279.0,261.0,8011.50,7477.2645,-15553.0838,7477.3478,-15546.2595,331575,1087,2452,1087,2454,0,0,999
ILLINOIS,92,47,2,0,6.590680e+08,29447000.0,225.0,261.0,14365.95,10700.9400,-23772.3697,10700.1054,-23763.5305,536149,1528,4428,1528,4429,0,5,1746
MISSISSIPPI,30,6,2,1,8.098350e+08,16870000.0,880.0,795.0,19055.88,11655.5472,-32106.4899,11653.7521,-32071.8458,717027,1697,4933,1697,4935,0,2,4354
LOUISIANA,15,0,0,0,8.278850e+08,2800000.0,168.0,186.0,6960.50,3804.1328,-11061.4118,3803.0705,-11056.6705,240941,681,1789,681,1791,0,1,821
NEBRASKA,43,0,1,0,1.025919e+09,473962000.0,712.0,651.0,11823.00,13977.0306,-33816.3764,13976.1381,-33807.7775,687160,2068,5336,2068,5337,0,7,1888
OHIO,27,0,5,1,1.031490e+09,2505000.0,189.0,213.0,12692.25,11109.7499,-22425.5305,11106.4633,-22406.4395,546445,1770,4359,1770,4359,0,0,3053
WISCONSIN,44,0,0,0,1.091723e+09,64243000.0,328.0,272.0,7718.25,9228.4761,-18933.6435,9227.1925,-18916.8122,423520,1243,2962,1243,2964,0,0,1589
MISSOURI,106,0,3,0,1.274004e+09,1110000.0,166.0,141.0,6754.25,6051.3816,-14668.0733,6052.5584,-14654.4860,319156,813,1986,813,1986,0,0,1211
OKLAHOMA,11,4,3,0,1.398735e+09,25000.0,158.0,177.0,5125.25,3749.9218,-10241.4307,3750.1280,-10240.5179,210754,581,1663,581,1663,0,3,300
ARIZONA,34,8,1,0,3.116203e+09,4500000.0,194.0,252.0,6569.00,3583.5870,-12124.9570,3584.4183,-12126.7615,216985,810,1697,810,1697,0,10,1944
COLORADO,26,0,0,0,4.395771e+09,57031000.0,122.0,144.0,982.25,1876.1709,-5013.0507,1876.2115,-5011.8903,96358,299,827,299,827,0,1,407
TEXAS,145,1,1,3,9.460918e+09,205618000.0,1456.0,1452.0,26174.41,24678.1410,-75434.4474,24673.2570,-75416.8681,1533034,4027,11394,4027,11398,0,10,5095

import shapefile
sf = shapefile.Reader('tl_2010_us_state10/tl_2010_us_state10')
print ('number of shapes imported:',len(sf.shapes()))
shape_ex = sf.shape(5)

x_lon = np.zeros((len(shape_ex.points),1))
y_lat = np.zeros((len(shape_ex.points),1))
for ip in range(len(shape_ex.points)):
    x_lon[ip] = shape_ex.points[ip][0]
    y_lat[ip] = shape_ex.points[ip][1]
    
plt.plot(x_lon,y_lat,'k')
plt.xlim(shape_ex.bbox[0],shape_ex.bbox[2])

In [ ]:
import shapefile
sf = shapefile.Reader('tl_2010_us_state10/tl_2010_us_state10')
plt.figure(figsize = (13,18))
ax = plt.axes()
ax.set_aspect('equal')
for shape in list(sf.iterShapes()):
   x_lon = np.zeros((len(shape.points),1))
   y_lat = np.zeros((len(shape.points),1))
   for ip in range(len(shape.points)):
       x_lon[ip] = shape.points[ip][0]
       y_lat[ip] = shape.points[ip][1]
   plt.plot(x_lon,y_lat)


plt.xlim(-130,-60)
plt.ylim(23,50)

In [ ]:

plt.figure(figsize = (8,8))
for index, row in df.iterrows():
    plt.plot([row['BEGIN_LON'],row['END_LON']], [row['BEGIN_LAT'],row['END_LAT']], color = 'b')
    plt.xlim(-125, -80)
    plt.ylim(24,49)